/****************************************/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


/** Table style on ---My Products buying--- */
.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.04);
  color: #000;
}

table td, table th {
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
}
.table, .table-responsive {
  border-radius: 2em;
}
.table-responsive::-webkit-scrollbar:horizontal {
  background:  rgba(15, 181, 241, .7);
  border-radius: 25px;
}
.table-responsive::-webkit-scrollbar-thumb {
  background: radial-gradient(rgba(255, 195, 0, .7), rgba(15, 181, 241, .7)) no-repeat;
}
.image {
  border-radius: 2em;
}
.table-product {
  background: rgba(60, 12, 144, .33);
}
.table-foot {
  background: rgba(144, 12, 12, .2);
  font-weight: bold;
}
